datafactory/pipeline/raw_lab.json
{
	"name": "raw_lab",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_XLSX_PTUP",
						"type": "DatasetReference",
						"parameters": {
							"path_directory": "raw_lab02",
							"path_filename": {
								"value": "@variables('lista_docs')",
								"type": "Expression"
							},
							"sheet_names": {
								"value": "@variables('lista_objetos')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PARQUET_PTUP",
						"type": "DatasetReference",
						"parameters": {
							"path_filename": {
								"value": "@concat(variables('lista_objetos'),'.PARQUET')",
								"type": "Expression"
							},
							"path_directory": "master_lab02"
						}
					}
				]
			},
			{
				"name": "Listar hojas",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lista_hojas",
					"value": [
						"PRECIO",
						"STOCK",
						"UNIDADES"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Listar docs",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Listar hojas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('lista_objetos')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_XLSX_PTUP",
									"type": "DatasetReference",
									"parameters": {
										"path_directory": "raw_lab02",
										"path_filename": {
											"value": "@variables('lista_docs')",
											"type": "Expression"
										},
										"sheet_names": {
											"value": "@variables('lista_objetos')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET_PTUP",
									"type": "DatasetReference",
									"parameters": {
										"path_filename": {
											"value": "@concat(variables('lista_docs'),'.PARQUET')",
											"type": "Expression"
										},
										"path_directory": "master_lab02"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Listar docs",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lista_docs",
					"value": [
						"Plantilla trabajo UP (1).xlsx"
					]
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"lista_hojas": {
				"type": "Array"
			},
			"lista_docs": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "01_raw_source"
		},
		"annotations": []
	}
}